.about-us-title{
	margin-left: 25% !important;
}

.about-us-heading{
	margin-top: 0px;
	font-size: 40px;
	line-height: 2;
	letter-spacing: -1px;
	text-align: center;
	color: black;
	text-transform: uppercase;

	border-bottom: solid 0.45rem #3E6550;
}

.about-us-bible-verse{
	margin-left: 40%;
	line-height: 4;
	font-style: italic;
	font-size: 20px;
}

.our-team-story{
	color: black !important;
}