/* Site wide css */
body,html{
	background-color:#f6f6f6;
}

/* Main Navigation */
.navbar-wrapper .container{
	padding-right:0;
	padding-left:95px;
	width:100%;

}
.navbar{
	top:-20px;

}
#nav-shell{
	background-color:white;
}
#nav-shell a{
	color:black;	
}
.brand {
	position:absolute;
	width:100px;
	height:100px;
	left:0px;
	top:0px;	
}

.brand img{
	height:100%;
}
